Backend/app_data.mv.db
app_data.mv.db
app_data.trace.db
app_data/
*.mv.db
*.trace.db
run.log

Backend/jcef-bundle/
Backend/src/main/resources/jcef-bundle.zip
frontend/dist/
frontend/node_modules/
.agents/